

.container{
  transition: .3s ease;
}


.navbar{
  position: sticky;
}


#body{
  transition: .3s ease;
}

#container {
    background-color: white;
}




.nav-link{
  color: white;
}

.name{
  align-items: center;
}


.dark{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: grey;
  color: white;
  padding: 8px 16px 8px 16px;
}

.toggle{
  margin-left: 8px;
  
}

h3{
  padding-bottom: 30px;
}

.card-title,
.card-text{
  text-align: center;
}

.card-body{
  padding-top: 8px;
}



.display-2{
  margin-top: 40px;
  text-align: center;
}

.social-icon{
    width: 30px;
}


.toggle {
    -moz-appearance: none;
         appearance: none;
    -webkit-appearance: none;
    width: 45px;
    height: 25px;
    border-radius: 25px;
    background-color: black;
    position: relative;
    transition: background-color 0.3s ease;
}

.toggle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    transition: left 0.3s ease, background-color 0.3s ease;
  }

  .toggle:checked {
    background-color: black;
  }

  .toggle:checked::after {
    left: 70%;
  }





.message-container{
  display:flex;
  flex-direction: column;
}

#message{
  height: 100px;
}

.btn-container{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left:0px;
  margin-right:0px;
}
.btn-primary{
  width: 100%;
  height: 35px;
  padding: 0px;
}


/*========================================================
                    Medium Size Screen  
========================================================*/                  

@media (min-width: 768px) {
  .navbar-collapse{
      flex-grow: 0;
  }

  
}
